Bruno Michel <bmichel@menfin.info> <brmichel@free.fr>
aeris <aeris@imirhil.fr> <aeris@cozycloud.cc>
aeris <aeris@imirhil.fr> <51246+aeris@users.noreply.github.com>
Maxime MENAGER <maxime@cozycloud.cc> maximemenager <43468959+maximemenager@users.noreply.github.com>
Cédric Patchane <code@patchane.com>
Sébastien Blaisot <sebastien.blaisot@cozycloud.cc>
Thiriot Christophe <doubleface@users.noreply.github.com> doubleface <christophe@cozycloud.cc>
Grégory Le Garec <gregory.legarec@gmail.com>
Éric D <15271+edas@users.noreply.github.com>
